$another-text-color: #ffffff;
$form-text-color: #000000;
$main-bg-color: #81b3d2;
$form-bg-down-color: #d5d5d5;
$reasons-color: #eeeeee;
$form-bg-color: #f2f2f2;
$form-bg-hover-color: #e5e5e5;
$border-color: #e5e5e5;
$catalog-bg-color: #e5e5e5;
