// Viewports
$mobile-low: 320px;
$desktop-low: 1200px;
$tablets-low: 768px;
$tablets-high: 1199px;

//colors
:root {
  --bright: #81b3d2;
  --dark-bright: #669ec0;
  --bright-darker: #5496bd;
  --white: #ffffff;
  --black: #000000;
  --brown: #766357;

  --gray-light: #d5d5d5;
  --gray-lighter: #eeeeee;
  --gray: #f2f2f2;
  --gray-darker: #e5e5e5;
  --dark-gray: #333333;
  --gray-mid: #5c6870;


  --another-text-color: var(--white);
  --another-bg-color: var(--white);
  --form-text-color: var(--black);
  --main-color: var(--bright);
  --button-bg-color: var(--bright);
  --form-bg-down-color: var(--gray-light);
  --reasons-color: var(--gray-lighter);
  --form-bg-color: var(--gray);
  --form-bg-hover-color: var(--gray-darker);
  --border-color: var(--gray-darker);
  --catalog-bg-color: var(--gray-darker);
  --another-catalog-color: var(--black);
  --nav-current: var(--brown);
  --nav-hover: var(--bright);
  --nav-list-button-hover: var(--dark-bright);
  --nav-list-button-active: var(--bright-darker);
  --main-bg-color: var(--bright);
  --figcaption-bg-color: var(--gray);
  --disabled-bg-color: var(--gray-darker);
  --bg-color-image: var(--brown);
  --video-controls-btn-hover: var(--dark-gray);
  --video-controls-btn: var(--gray-mid);
}

//colors
/*
$bright: #81b3d2;
$white: #ffffff;
$black: #000000;
$brown: #766357;

$gray-light: #d5d5d5;
$gray-lighter: #eeeeee;
$gray: #f2f2f2;
$gray-darker: #e5e5e5;


$another-text-color: $white;
$another-bg-color: $white;
$form-text-color: $black;
$main-color: $bright;
$button-bg-color: $bright;
$form-bg-down-color: $gray-light;
$reasons-color: $gray-lighter;
$form-bg-color: $gray;
$form-bg-hover-color: $gray-darker;
$border-color: $gray-darker;
$catalog-bg-color: $gray-darker;
$nav-current: $brown;
$nav-hover: $bright;
$main-bg-color: $bright;
*/
