// global
@import "global/fonts.scss";
@import "global/page-body.scss";
@import "global/reset.scss";
@import "global/variables.scss";
@import "global/visually-hidden.scss";

//components

@import "components/nav.scss";
@import "components/intro.scss";
@import "components/promo.scss";
@import "components/reasons.scss";
@import "components/info.scss";
@import "components/search.scss";
@import "components/button.scss";
@import "components/page-footer.scss";
@import "components/form.scss";
@import "components/article.scss";
@import "components/error.scss";
@import "components/result.scss";
@import "components/copyright.scss";
