.article {
  border-bottom: #e5e5e5 1px solid;
  margin: 22px 20px 15px 20px;
}

.article-content__title {
  font-size: 14px;
  font-weight: bold;
}

.article-content__autor {
  font-style: normal;
}
