.article {
  border-bottom: var(--border-color) 1px solid;
  margin-bottom: 20px;
  padding-bottom: 22px;

  @include tablets {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include desktop {
    position: relative;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.article--full-width {
  @include tabletsAndDesktop {
    grid-column: 1/-1;
  }
}

.article__content {
  margin: 0;
}

.article__content-img {
  background-color: var(--bg-color-image);
  margin-bottom: 11px;

  @include tabletsAndDesktop {
    margin-bottom: 0;
  }

  @include tablets {
    width: 324px;
    height: 267px;
  }

  @include desktop {
    width: 400px;
    height: 267px;
  }
}

.article__content-img--full-width {
  @include tablets {
    width: 648px;
    height: 400px;
  }

  @include desktop {
    width: 1200px;
    height: 400px;
  }
}

.article__content-caption {
  display: grid;
  grid-column: 1/-1;

  @include tablets {
    grid-template-columns: 3fr 1fr;
    background-color: var(--figcaption-bg-color);
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 80px;
  }

  @include desktop {
    grid-template-columns: 3fr 1fr;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--another-text-color);
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.article__content-caption--darker {
  @include tablets {
    background-color: #eaeaea;
  }
}

.article__content-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.article__content-author {
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 10px;

  @include tabletsAndDesktop {
    grid-row: 2/3;
  }
}
