.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding: 15px 32px 17px 32px;
  background-color: var(--bright);
  font-size: 21px;
  line-height: 26/21*1;
  color: var(--another-text-color);
  font-weight: bold;
  text-decoration: none;
  border: transparent;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: var(--nav-list-button-hover);
  }

  &:active {
    background-color: var(--nav-list-button-active);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: var(--disabled-bg-color);
  }

  @include tabletsAndDesktop {
    width: 100%;
  }
}

.button-disabled {
  background-color: var(--disabled-bg-color);
}

.button--error {
  width: 180px;
  font-size: 18px;
}

.button--result {
  font-size: 18px;
}
