.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding: 15px 32px 17px 32px;
  background-color: $main-bg-color;
  font-size: 21px;
  line-height: math.div(26, 21);
  color: $another-text-color;
  font-weight: bold;
  text-decoration: none;
  border: transparent;
  margin: auto;
  text-transform: uppercase;
}

.button--error {
  width: 180px;
  font-size: 18px;
}

.button--result {
  font-size: 18px;
}
