.catalog {
  display: grid;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;

  @include tablets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 60px 52px 60px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 53px 0;
  }
}
