.controls__button {
  display: block;
  border: none;
  width: 50px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
}

.controls__button svg {
  fill: var(--video-controls-btn);

  &:hover {
    fill: var(--video-controls-btn-hover);
  }

  &:active {
    fill: var(--video-controls-btn-hover);
    opacity: 0.3;
  }

  @include tabletsAndDesktop {
    fill: var(--another-bg-color);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.controls__button-replay {
  margin-left: 8px;

  @include tabletsAndDesktop {
    margin-left: 18px;
  }
}

.controls__button-screen {
  @include tablets {
    margin-right: 25px;
  }

  @include desktop {
    margin-left: 12px;
  }
}

.controls__button-sub {
  @include tablets {
    margin-left: 14px;
  }

  @include desktop {
    margin-left: 45px;
  }
}
