.error {
  margin: 40px 42px 35px 42px;
  text-align: center;
}

.error__title {
  margin: 0;
  padding-bottom: 42px;
  font-size: 18px;
}

.error__text {
  margin: 0;
  padding-bottom: 22px;
  font-size: 14px;
}
