.error {
  display: none;
  //display: flex;
  flex-direction: column;
  padding: 40px 42px 35px 42px;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: var(--another-bg-color);
  min-height: 280px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 116px;

  @include tabletsAndDesktop {
    width: 400px;
    min-height: 347px;
    position: fixed;
    top: 236px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.error__title {
  margin: 0;
  padding-bottom: 27px;
  font-size: 18px;

  @include tabletsAndDesktop {
    padding: 0 36px 25px;
    font-size: 30px;
  }
}

.error__text {
  margin: 0;
  padding-bottom: 29px;
  font-size: 14px;

  @include desktop {
    padding-bottom: 51px;
  }
}
