.form {
  display: grid;
  margin-right: 20px;
  margin-left: 20px;
  row-gap: 45px;

  @include tabletsAndDesctop {
    row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablets {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 61px;
  }

  @include desctop {
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 61px;
  }
}

.form__required {
  display: none;

  @include tabletsAndDesctop {
    display: inline-flex;
    justify-content: flex-end;
  }
}

.form__header {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  font-size: 14px;
}

.form__input {
  flex-grow: 1;
  width: 100%;
  font-size: 18px;
  height: 58px;
  padding-left: 22px;
  color: var(--form-text-color);
  font-weight: bold;
  background-color: var(--form-bg-color);
  border: transparent;

  &:hover {
    background-color: var(--form-bg-hover-color);
  }
}

//form__introduce
.form__introduce {
  display: grid;
  gap: 20px;
  justify-items: stretch;

  @include tabletsAndDesctop {
    margin-bottom: 72px;
  }
}

.form__introduce .form__label {
  align-items: center;
}

.form__introduce input {
  margin-left: 18px;
}

//contacts
.form__contacts {
  display: grid;
  gap: 15px;

  @include tabletsAndDesctop {
    grid-column: 1/-1;
    margin-bottom: 51px;
  }

  @include desctop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__contacts .form__header {
  @include desctop {
    grid-column: 1/-1;
  }
}

.form__contacts .form__input {
  margin-top: 8px;
}

.form__contacts label {
  margin-left: 0;
  flex-direction: column;
  text-align: start;
}

//impression
.form__impression {
  display: grid;
  gap: 43px;

  @include tabletsAndDesctop {
    grid-row: 1/2;
    margin-bottom: 72px;
  }
}

.form__impression label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

//sight-visited
.form__sights-visited {
  display: grid;
  gap: 24px;
  grid-column: 1/-1;

  @include tablets {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 75px;
  }

  @include desctop {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 75px;
  }
}

.form__sights-visited label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.form__sights-visited .form__header {
  @include tabletsAndDesctop {
    grid-column: 1/-1;
  }
}

//emotions
.form__emotions {
  @include tabletsAndDesctop {
    grid-column: 1/-1;
    margin-bottom: 58px;
  }
}

.form__emotions-comment {
  width: 100%;
  color: var(--form-text-color);
  font-size: 18px;
  font-weight: bold;
  padding: 13px 23px 29px 21px;
  background-color: var(--form-bg-color);
  border: transparent;
}
