.form__header {
  text-align: center;
}

.form__label {
  display: flex;
}

.form__input {
  flex-grow: 1;
  height: 58px;
  padding-left: 22px;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  border: transparent;

  &:hover {
    background-color: #e5e5e5;
  }
}

//form__introduce
.form__introduce {
  margin: 20px 20px 25px 20px;
  display: grid;
  gap: 20px;
}

.form__introduce input {
  margin-left: 18px;
}

//contacts
.contacts {
  margin: 20px 20px 25px 20px;
  display: grid;
  gap: 10px;
}

.contacts label {
  margin-left: 0;
  flex-direction: column;
  text-align: start;
}

//impression
.impression {
  display: grid;
  gap: 43px;
  margin: 20px 12px 31px 24px;
}

.impression label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

//sight-visited
.sights-visited {
  margin-top: 15px;
  margin-left: 24px;
  margin-bottom: 30px;
  display: grid;
  gap: 24px;
}

.sights-visited label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

//emotions
.emotions {
  margin: 20px 22px 51px 19px;
}

.emotions__comment {
  width: 100%;
  margin-top: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: transparent;
}
