.form {
  display: grid;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;

  @include tabletsAndDesktop {
    row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablets {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 61px;
  }

  @include desktop {
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 61px;
  }
}

.form section {
  @include mobile {
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: var(--form-bg-hover-color) 1px solid;
  }
}

.form__required {
  display: none;

  @include tabletsAndDesktop {
    font-size: 14px;
    display: inline-flex;
    justify-content: flex-end;
  }
}

.form__header {
  text-align: center;
  font-size: 18px;
  margin: 0;

  @include tabletsAndDesktop {
    font-size: 21px;
    margin-bottom: 30px;
  }
}


.form__header--withBorder {
  @include tabletsAndDesktop {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      border-bottom: var(--form-bg-hover-color) 1px solid;
      flex-grow: 1;
      margin-right: 47px;
    }

    &::after {
      content: "";
      display: block;
      border-bottom: var(--form-bg-hover-color) 1px solid;
      flex-grow: 1;
      margin-left: 47px;
    }
  }
}

.form__label {
  display: flex;
  font-size: 14px;
  position: relative;
}

.form__label--contacts {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: end;
    column-gap: 18px;
  }
}

.form__label-tel {
  @include desktop {
    position: absolute;
    opacity: 0;
  }
}

.form__input {
  flex-grow: 1;
  width: 100%;
  font-size: 18px;
  height: 58px;
  padding-left: 22px;
  color: var(--form-text-color);
  font-weight: bold;
  background-color: var(--form-bg-color);
  border: transparent;
  outline: none;

  &:hover {
    background-color: var(--form-bg-hover-color);
  }

  &:active {
    background-color: var(--another-text-color);
    border: 4px solid var(--form-bg-hover-color);
  }
}

.form__image {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6;
  width: 56px;
  height: 56px;
}

.form__image-phone {
  fill: var(--form-text-color);
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.form__image-mail {
  fill: var(--form-text-color);
  bottom: 23px;
  position: absolute;
  right: 20px;
}

//form__introduce
.form__introduce {
  display: grid;
  gap: 20px;
  justify-items: stretch;

  @include tablets {
    margin-left: 57px;
    margin-bottom: 74px;
  }

  @include desktop {
    margin-left: 78px;
    margin-bottom: 50px;
  }
}

.form__introduce .form__header {
  @include tabletsAndDesktop {
    text-align: start;
  }
}

.form__introduce .form__label {
  align-items: center;
}

.form__introduce input {
  margin-left: 18px;
}

//contacts
.form__contacts {
  display: grid;
  row-gap: 21px;

  @include tabletsAndDesktop {
    grid-column: 1/-1;
    margin-bottom: 53px;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 22px;
    row-gap: 30px;
  }
}

.form__contacts .form__header {
  @include tablets {
    margin-bottom: 0;
  }

  @include desktop {
    grid-column: 1/-1;
  }
}

.form__contacts .form__input {
  margin-top: 8px;
}

.form__contacts label {
  margin-left: 0;
  flex-direction: column;
  text-align: start;
}

//impression
.form__impression {
  display: grid;
  gap: 25px;

  @include tabletsAndDesktop {
    grid-row: 1/2;
    border-right: var(--form-bg-hover-color) 1px solid;
    margin-bottom: 72px;
  }

  @include desktop {
    margin-bottom: 45px;
  }
}

.form__impression .form__header {
  @include tablets {
    text-align: start;
  }
}

.form__impression label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

//sight-visited
.form__sights-visited {
  display: grid;
  gap: 32px;
  grid-column: 1/-1;

  @include tablets {
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    margin-bottom: 67px;
    margin-right: 60px;
    margin-left: 100px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 75px;
    gap: 10px;
  }
}

.form__sights-visited label {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

.form__sights-visited .form__header {
  @include tabletsAndDesktop {
    grid-column: 1/-1;
  }
}

//emotions
.form__emotions {
  border: none;

  @include tabletsAndDesktop {
    grid-column: 1/-1;
    margin-bottom: 50px;
  }
}

.form__emotions-comment {
  width: 100%;
  color: var(--form-text-color);
  font-size: 18px;
  font-weight: bold;
  padding: 13px 23px 29px 21px;
  background-color: var(--form-bg-color);
  border: transparent;
  outline: none;
  margin-top: 20px;

  &:hover {
    background-color: var(--form-bg-hover-color);
  }

  &:active {
    background-color: var(--another-text-color);
    border: 4px solid var(--form-bg-hover-color);
  }
}
