.info {
  margin-top: 26px;
  margin-bottom: 35px;

  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    padding: 0;
    text-align: center;
  }
}

.info__item {
  margin-bottom: 26px;
}

.info__item-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 24px;
  margin: 0;
}

.info__item-description {
  margin: 0;
  font-size: 14px;
}
