.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
  min-height: 158px;

  @include tablets {
    min-height: 290px;
  }

  @include desctop {
    min-height: 301px;
  }
}
