.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
  min-height: 389px;

  // &::after {
  //   content: "";
  //   display: block;
  //   background-image: url("img/icon/intro-triangle.svg");
  //   width: 320px;
  //   height: 57px;
  // }

  @include tabletsAndDesktop {
    min-height: 518px;
  }
}
