.intro {
  background-color: var(--main-bg-color);
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 19px 67px 19px;
}

.intro__image {
  width: 100%;
}
