.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
  min-height: 389px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/intro-triangle.svg");
    width: 100%;
    height: 57px;
    bottom: -1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  @include tabletsAndDesktop {
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  @include desktop {
    margin-bottom: 46px;
  }
}

.intro--another-height {
  min-height: 160px;

  @include tablets {
    min-height: 290px;
    margin-bottom: 47px;
  }

  @include desktop {
    min-height: 300px;
    margin-bottom: 90px;
  }
}

.intro__image {
  @include tabletsAndDesktop {
    width: 460px;
    height: 350px;
  }
}

.intro__image--another-width {
  @include tabletsAndDesktop {
    width: 460px;
    height: 80px;
  }
}
