.map {
  display: flex;
  margin: auto;
  background-position: 0 0;
  background-repeat: repeat;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  @include desktop {
    margin-bottom: 0;
  }
}

.map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
}

.map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
