.nav {
  font-size: 18px;
  font-weight: bold;
  background-color: $main-bg-color;
}

.nav__list {
  padding: 0;
  margin: 0;
}

.nav__link {
  color: $another-text-color;
  text-decoration: none;
  line-height: math.div(40, 18);
}
