.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tabletsAndDesktop {
    min-height: 120px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 28px;

  @include tabletsAndDesktop {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  display: flex;
  margin-bottom: 23px;

  @include tabletsAndDesktop {
    margin-bottom: 0;
  }
}
