.page-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  @include tabletsAndDesctop {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
}
