.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__logo-image {
  @include desktop {
    width: 187px;
    height: 97px;
  }
}
