.promo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto 20px;
}

.promo__wrapper {
  text-align: center;
  padding-bottom: 20px;

  @include tabletsAndDesctop {
    width: 450px;
    margin: 0 auto;
  }
}

.promo__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;

  @include tabletsAndDesctop {
    font-size: 21px;
  }
}

.promo__intro {
  margin: 0;
  font-size: 14px;
}

.promo--catalog {
  border-bottom: var(--catalog-bg-color) 1px solid;

  @include tablets {
    border-bottom: none;
  }
}

.promo__video {
  @include tablets {
    display: flex;
    margin: 0 auto;
    min-width: 648px;
    min-height: 500px;
    margin-bottom: 40px;
  }

  @include desctop {
    display: flex;
    margin: 0 auto;
    min-width: 800px;
    min-height: 500px;
    margin-bottom: 85px;
  }
}
