.promo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto 25px;
  position: relative;

  @include tablets {
    margin: 0 auto 29px;
  }

  @include desktop {
    margin: 0 auto 13px;
  }
}

.promo--form {
  margin: 0 auto 15px;

  @include tablets {
    margin: 0 auto 57px;
  }

  @include desktop {
    margin: 0 auto 34px;
  }
}

.promo--catalog {
  border-bottom: var(--catalog-bg-color) 1px solid;
  margin: 0 auto 18px;

  @include tabletsAndDesktop {
    border-bottom: none;
    margin: 16px auto 52px;
  }
}

.promo--catalog-video {
  border-bottom: none;
  margin: 0 auto 20px;

  @include tablets {
    margin: 0 auto 43px;
  }

  @include desktop {
    margin: 0 auto 51px;
  }
}

.promo--main {
  @include mobile {
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-image: url("../img/triangle.svg");
      width: 100%;
      height: 57px;
      bottom: -47px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }
}

.promo__wrapper {
  text-align: center;
  padding-bottom: 30px;
  margin-right: 19px;
  margin-left: 20px;

  @include tabletsAndDesktop {
    width: 487px;
    margin: 0 auto;
    padding-bottom: 24px;
  }
}

.promo__wrapper--catalog {
  margin-right: 23px;
  margin-left: 24px;

  @include tabletsAndDesktop {
    margin: 0 auto;
  }
}

.promo__wrapper--form {
  padding-bottom: 22px;

  @include mobile {
    margin-right: 21px;
  }
}

.promo__wrapper--main {
  @include mobile {
    padding-bottom: 4px;
    margin-right: 33px;
    margin-left: 30px;
  }
}

.promo__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;

  @include tabletsAndDesktop {
    font-size: 21px;
    margin-bottom: 25px;
  }
}

.promo__title--catalog {
  margin: 0 0 24px;

  @include tabletsAndDesktop {
    font-size: 30px;
  }
}

.promo__title--form {
  @include tabletsAndDesktop {
    font-size: 30px;
  }
}

.promo__intro {
  margin: 0;
  font-size: 14px;
  line-height: 26/14*1;

  @include tabletsAndDesktop {
    display: flex;
    flex-direction: column;
  }
}

.promo__intro--form {
  line-height: 24/14*1;

  @include tabletsAndDesktop {
    line-height: 26/14*1;
    margin-left: 23px;
    margin-right: 21px;
  }
}

.promo__video {
  @include mobile {
    margin-bottom: 30px;
  }

  @include tabletsAndDesktop {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
  }

  @include tablets {
    min-width: 648px;
    min-height: 500px;
    margin-top: 52px;
  }

  @include desktop {
    min-width: 800px;
    min-height: 500px;
    margin-top: 52px;
    margin-bottom: 32px;
  }
}

.promo__video-img {
  background-color: var(--bg-color-image);

  @include tablets {
    width: 648px;
    height: 500px;
  }

  @include desktop {
    width: 800px;
    height: 500px;
  }
}

.promo__video-controls {
  @include mobile {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    width: 280px;
    height: 66px;
    background-color: var(--figcaption-bg-color);
    margin: 0 auto;
  }

  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 93px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
  }
}
