.reasons__list {
  padding: 0;
  margin: 0;
}

.reasons__container {
  @include tabletsAndDesctop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.reasons__header {
  padding: 55px 20px 39px 18px;
  text-align: center;
}

.reasons__header--color-blue {
  background-color: var(--main-bg-color);
  color: var(--another-text-color);

  @include tabletsAndDesctop {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.reasons__header--reverse {
  @include tabletsAndDesctop {
    grid-column-start: -2;
    grid-column-end: -1;
  }
}

.reasons__item--color-gray {
  padding: 0;
  background-color: var(--reasons-color);
  border-bottom: #d6d6d6 1px solid;
  display: flex;
  flex-direction: column;

  @include tabletsAndDesctop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.reasons__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.reasons__description {
  margin: 0;
  font-size: 14px;
}

.reasons__number {
  font-size: 14px;
  margin: 0;
  margin-bottom: 24px;
}

.reasons__number::before {
  content: "-";
}

.reasons__number::after {
  content: "-";
}

.reasons__image {
  @include tabletsAndDesctop {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.reasons__image--reverse {
  @include tabletsAndDesctop {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}
