.reasons__item {
  @include tabletsAndDesktop {
    grid-column: span 1;
  }
}

.reasons__item--full-width {
  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
}

.reasons__list {
  counter-reset: list1; /* Инициируем счетчик */
  padding: 0;
  margin-bottom: 33px;

  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 45px;
  }
}

.reasons__item--color-gray {
  background-color: var(--reasons-color);
  border-bottom: #d6d6d6 1px solid;

  @include tabletsAndDesktop {
    border: none;
  }
}

.reasons__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 20px 25px 18px;
  text-align: center;

  @include tabletsAndDesktop {
    padding: 35px 27px 25px 18px;
  }
}

.reasons__header::before {
  counter-increment: list1; /* Увеличиваем значение счетчика */
  content: "-""№" counter(list1) "-"; /* Выводим число */
  margin-bottom: 12px;

  @include tablets {
    margin-bottom: 4px;
  }

  @include desktop {
    margin-bottom: 7px;
  }
}

.reasons__header--color-blue {
  background-color: var(--main-bg-color);
  color: var(--another-text-color);
  padding-top: 56px;

  @include tablets {
    padding-top: 36px;
  }

  @include desktop {
    padding-top: 30px;
  }
}

.reasons__header--color-gray {
  @include mobile {
    padding: 23px 35px 14px 29px;
  }

  @include tablets {
    padding: 43px 36px 30px 21px;
  }

  @include desktop {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 25px;
  }
}

.reasons__title {
  order: -1;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;

  @include tablets {
    font-size: 21px;
    line-height: 26/21*1;
    padding-right: 26px;
    padding-left: 35px;
  }

  @include desktop {
    font-size: 21px;
    line-height: 26/21*1;
    padding-right: 100px;
    padding-left: 105px;
  }
}

.reasons__description {
  margin: 0;
  font-size: 14px;
  padding-bottom: 15px;

  @include tablets {
    padding-right: 1px;
    padding-top: 17px;
    padding-left: 10px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-right: 27px;
    padding-left: 32px;
  }
}

.reasons__description--road {
  @include tablets {
    padding-right: 23px;
    padding-left: 32px;
  }

  @include desktop {
    padding-right: 41px;
    padding-left: 48px;
  }
}

.reasons__description--tourist {
  @include tablets {
    padding-right: 10px;
    padding-left: 25px;
  }
}

.reasons__description--reverse {
  @include tablets {
    padding-right: 4px;
    padding-left: 14px;
  }

  @include desktop {
    padding-right: 62px;
    padding-left: 79px;
  }
}

.reasons__number {
  font-size: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.reasons__number::before {
  content: "-";
}

.reasons__number::after {
  content: "-";
}

.reasons__image {
  @include tabletsAndDesktop {
    grid-column: span 2;
  }
}

.reasons__image-photo {
  background-color: var(--bg-color-image);

  @include tablets {
    width: 512px;
    height: 256px;
  }

  @include desktop {
    width: 800px;
    height: 256px;
  }
}

.reasons__image--reverse {
  @include tabletsAndDesktop {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

.reasons__header--reverse {
  padding-top: 38px;

  @include tabletsAndDesktop {
    grid-column: -1 / -2;
  }

  @include tablets {
    padding-top: 42px;
  }
}
