.reasons__item {
  @include tabletsAndDesktop {
    grid-column: span 1;
  }
}

.reasons__item--full-width {
  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
}

.reasons__list {
  counter-reset: list1; /* Инициируем счетчик */
  padding: 0;
  margin-bottom: 33px;

  @include tabletsAndDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 45px;
  }
}

.reasons__item--color-gray {
  background-color: var(--reasons-color);
  border-bottom: #d6d6d6 1px solid;

  @include tabletsAndDesktop {
    border: none;
  }
}

.reasons__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 20px 25px 18px;
  text-align: center;

  @include tabletsAndDesktop {
    padding: 40px 27px 25px 18px;
  }
}

.reasons__header::before {
  counter-increment: list1; /* Увеличиваем значение счетчика */
  content: "-""№" counter(list1) "-"; /* Выводим число */
  margin-bottom: 7px;
}

.reasons__header--color-blue {
  background-color: var(--main-bg-color);
  color: var(--another-text-color);
}

.reasons__header--color-gray {
  padding: 26px 35px 14px 29px;

  @include tablets {
    padding: 41px 35px 35px 21px;
  }

  @include desktop {
    padding: 51px 35px 50px 21px;
  }
}

.reasons__title {
  order: -1;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;

  @include tablets {
    font-size: 21px;
    padding-right: 26px;
    padding-left: 35px;
  }

  @include desktop {
    font-size: 21px;
    padding-right: 100px;
    padding-left: 105px;
  }
}

.reasons__description {
  margin: 0;
  font-size: 14px;
  padding-bottom: 15px;

  @include tablets {
    padding-right: 10px;
    padding-left: 10px;
  }

  @include desktop {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.reasons__number {
  font-size: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.reasons__number::before {
  content: "-";
}

.reasons__number::after {
  content: "-";
}

.reasons__image {
  @include tabletsAndDesktop {
    grid-column: span 2;
  }
}

.reasons__image-photo {
  background-color: var(--bg-color-image);

  @include tablets {
    width: 512px;
    height: 256px;
  }

  @include desktop {
    width: 800px;
  }
}

.reasons__image--reverse {
  @include tabletsAndDesktop {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

.reasons__header--reverse {
  @include tabletsAndDesktop {
    grid-column: -1 / -2;
  }
}
