.reasons__item {
  @include tabletsAndDesctop {
    grid-column: span 1;
  }
}

.reasons__item--full-width {
  @include tabletsAndDesctop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
}

.reasons__list {
  padding: 0;
  margin: 0;

  @include tabletsAndDesctop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.reasons__header {
  padding: 55px 20px 39px 18px;
  text-align: center;
}

.reasons__header--color-blue {
  background-color: var(--main-bg-color);
  color: var(--another-text-color);
}

.reasons__header--color-gray {
  padding: 0;
  background-color: var(--reasons-color);
  border-bottom: #d6d6d6 1px solid;
}

.reasons__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.reasons__description {
  margin: 0;
  font-size: 14px;
}

.reasons__number {
  font-size: 14px;
  margin: 0;
  margin-bottom: 24px;
}

.reasons__number::before {
  content: "-";
}

.reasons__number::after {
  content: "-";
}

.reasons__image {
  @include tabletsAndDesctop {
    grid-column: span 2;
  }
}

.reasons__image--reverse {
  @include tabletsAndDesctop {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}

.reasons__header--reverse {
  @include tabletsAndDesctop {
    grid-column: -1 / -2;
  }
}
