.search {
  padding: 33px 30px 49px 30px;
  text-align: center;
}

.search__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 27px;
}

.search__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
}
