.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;

  @include tablets {
    margin-bottom: 59px;
    width: 458px;
  }

  @include desktop {
    margin-bottom: 67px;
    width: 458px;
  }
}

.search__title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 17px;

  @include tablets {
    margin: 0 0 25px;
    font-size: 30px;
  }

  @include desktop {
    font-size: 30px;
    margin: 0 0 29px;
  }
}

.search__description {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 24/14*1;
  margin-right: 29px;
  margin-left: 29px;

  @include tablets {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 38px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 41px;
  }
}
