.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;

  @include tabletsAndDesktop {
    width: 435px;
  }
}

.search__title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 27px;
}

.search__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
}
