.search {
  padding: 33px 30px 49px 30px;
  text-align: center;
}

.search__title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 27px;
}

.search__description {
  padding-bottom: 27px;
}
