.social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  @include tabletsAndDesktop {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--main-color);

  &:hover {
    background-color: var(--nav-list-button-hover);
  }

  &:active {
    background-color: var(--nav-list-button-active);
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link:active .social__link-image {
  opacity: 0.3;
}
